/* SideNav.css */
.sidenav {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(180deg, #000428, #004e92);
    color: white;
    padding-top: 20px;
}

.sidenav-list {
    list-style-type: none;
    padding: 0;
}

.sidenav-list a {
    text-decoration: none;
}

.sidenav-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: #fff;
}

.sidenav-icon {
    margin-right: 8px;
    font-size: 24px; /* Adjust icon size */
    color: #555; /* Icon color */
}

.sidenav-item a {
    text-decoration: none;
    color: white;
}

.sidenav-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

